.centered-chart {
    margin: auto;
    height: 19rem;
    width: 19rem;
}

.feature-content-section {
    border-radius: 15px;
    background: #5f1a95;
    padding: 1.5em;
}

.scrolled-list {
    height: 200px;
    overflow: auto;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background: #5f1a95 !important;
}