<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="KaiZai NuGet Repo" value="d:\..\..\KaiZai\packages" protocolVersion="3" />
  </packageSources>
  <activePackageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="KaiZai NuGet Repo" value="d:\..\..\KaiZai\packages" protocolVersion="3" />
</activePackageSources>
</configuration>
